docker {
    enabled = true
    pull = false

    envWhitelist = [
        'SAML_USERNAME',
        'SAML_PASSWORD',
        'SAML_OTP_CMD',
        'AWS_PROFILE',
        'AWS_REGION',
        'AWS_DEFAULT_REGION'
    ]
}

params {
    wsi_dir      = null
    outdir       = '/lscratch/wangc315/wsinsight_results'
    config_json  = null

    // either a named model or a custom model path
    model        = 'breast-tumor-resnet34.tcga-brca'
    model_path   = null

    wsinsight_image = 'lj-docker-reg.pfizer.com/huangc78/wsinsight:latest'
    convert_image   = 'wsi-conversion:latest'
    omero_image     = 'wsi-omero:latest'

    bioformats2raw_cmd = '/opt/conda/bin/bioformats2raw'
    raw2ometiff_cmd    = '/opt/conda/bin/raw2ometiff'

    raw2ometiff_rgb      = true
    raw2ometiff_workers  = 8
    raw2ometiff_compress = 'LZW'
    keep_zarr            = true

    batch_size  = 32
    num_workers = 4

    samlutil_bin = '/usr/local/bin/samlutil'
    aws_profile  = 'saml'
    aws_region   = 'us-west-1'
    aws_duration = 43200

    omero_python = '/opt/conda/bin/python'
    omero_cli    = '/opt/conda/bin/omero'

    annotation_dir = '/lscratch/wangc315/wsinsight_results/model-outputs-omecsv'
    annotation_glob = '*.csv'
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    container = params.wsinsight_image
    
    withLabel: wsinsight {
        container = params.wsinsight_image
        containerOptions = "--user root --gpus all --shm-size=32g --init -v ${params.outdir}:/workspace/wangc315/wsinsight_results"
    }

    withLabel: convert {
        container = params.convert_image
        containerOptions = "--user root --init"
        maxForks = 1
    }

    withLabel: omero {
        container = params.omero_image
        containerOptions = "--user 30308859:500 --init"
    }
}